<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">


    <link rel="stylesheet" href="../css/include.css">
    <script  language="javascript" type="text/javascript"  src="../js/include.js"></script>

    <style>
        body{ position:relative;}

    </style>
</head>
<body id="body">


<script type="text/javascript">
    $(function () {

        initPage();
        $('#home').css('font-size','25px')
    });


</script>


<div id="navigation"></div>

<div class="jumbotron" style="height:500px">
    <div  class="text-center" >
        <h1>欢迎使用!</h1>
    </div>
</div>

</body>
</html>